.movie-item {
  margin: 20px 10px;
}

.movie-deck {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.movie-item-title {
  text-align: center;
}
.movie-item-rating {
  text-align: center;
}

.movie-item-random {
  text-align: center;
  font-size: 32px;
  margin-top: 5px;
}

.page-header {
  font-size: 32px;
}

.header-button-active-color {
  color: green;
}
.header-button-passive-color {
  color: gray;
}

.random-button {
  margin-right: 10px;
}

.random-button {
  font-size: 16px;
}

.search-input {
  width: 300px;
}
